$primary: rgb(86,156,135);
$backroundmenu1: rgb(252,223,219);
$colortitresmenuunh2: rgb(73,32,38);
$backroundmenu2: rgb(255,245,254);
$colormenudeuxh2: linear-gradient(to right, rgb(192,116,28), rgb(9,6,245));
$backroundmenu3: rgb(237,239,239);
$colormenu3h2: linear-gradient(to right, #0431DF, #0887FB);
$backroundmenu4: rgb(253,255,253);
$colortitres4h2: linear-gradient(to right, #45993E, rgb(218,252,176));

body{
    margin: 0px;
    margin-top:0px;
    width:auto;
    height:auto;
    
}
header {
    background: $primary;
    height: 100px;
    padding: 10px;



    h1 {
        color: #FCCA46;
        font-size: 4em;
        text-align: center;
        margin:10px;
        font-family: sans-serif;
        font-weight: bold;
        letter-spacing: -1px;
    }
}

#menus {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    justify-content: center;

    .menu {
        height: 600px;
        width: 500px;
        margin: 20px;
        box-shadow: 1px 1px 2px #000;
        text-align: center;
        padding-top: 180px;
        padding-bottom: 20px;


        a, a:hover, a:visited, a:active {
            text-decoration: none;
            color: inherit;
        }
    }

    .zoom {
        opacity: 0.5;

        &:hover {
            transform: scale(1.3);
            z-index: 2;
            opacity: 1;
        }
    }

    #menuun {
        background-color: $backroundmenu1;
        font-size: 30px;



        .note {
            text-align: center;
            margin-top: 80px;
            height: 90px;
        }

        h2 {
            margin-top: 0px;
            font-family: 'Zhi Mang Xing', cursive;
            color: $colortitresmenuunh2;
        }

        h3 {
            font-family: 'Short Stack', cursive;
            font-size: 40px;
        }
    }



    #menudeux {
        background-color: $backroundmenu2;

        h2 {
            margin-top: 130px;
            font-family: 'Oleo Script', cursive;
            font-size: 3em;
            background: $colormenudeuxh2;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-weight: lighter;
        }

        h3 {
            font-family: 'PT Serif', serif;
            font-size: 50px;
            font-weight: bold;
            color: rgb(199,116,18);
        }
    }

    #menutrois {
        background-color: $backroundmenu3;

        h2 {
            font-size: 3em;
            background: $colormenu3h2;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-family: 'Dancing Script', cursive;
            font-weight: lighter;
        }

        h3 {
            font-family: 'Bad Script', cursive;
            font-size: 3em;
            font-weight: bold;
            color: #0887FB;
        }
    }

    #menuquatre {
        background-color: $backroundmenu4;

        h2 {
            font-family: 'Kaushan Script', cursive;
            font-size: 3em;
            background: $colortitres4h2;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-weight: lighter;
        }

        h3 {
            font-family: 'Bad Script', cursive;
            font-size: 3em;
            font-weight: bold;
            color: rgb(114,191,86);
        }
    }
}

    #prochainement {
        width: 350px;
        height: 100px;
        margin: 10%;
        margin-left: 40%;
        border-radius: 8px;
        background: rgb(86,156,135);

        h4 {
            color: #FCCA46;
            padding-left: 25%;
            padding-top: 10%;
            font-size:20px;
        }

        .dot {
            display: inline-block;
            width: 5px;
            height: 5px;
            border-radius: 50%;
            margin-right: 3px;
            background: #FCCA46;
            animation: wave 1.3s linear infinite;

            &:nth-child(2) {
                animation-delay: -1.1s;
            }

            &:nth-child(3) {
                animation-delay: -0.9s;
            }
        }
    }

    @keyframes wave {
        0%, 60%, 100% {
            transform: initial;
        }

        30% {
            transform: translateY(-15px);
        }
    }

    @-webkit-keyframes shake {
        from {
            -webkit-transform: rotate(15deg);
        }

        to {
            -webkit-transform: rotate(-15deg);
            -webkit-transform-origin: center center;
        }
    }


footer {
    justify-content: space-between;
    background: $primary;
    display: flex;
    height: 70px;
    padding-right: 50px;
    padding-left: 50px;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;

    h3 {
        color: #FCCA46;
        font-size: 30px;
        font-weight:lighter;
        margin-top: 15px;
        margin-right: 10px;
        -webkit-animation: shake .1s ease-in-out .5s infinite alternate
    }

    a, a:hover, a:visited, a:active {
        text-decoration: none;
    }
}

    .menu {
        text-align: center;
    }
    .titre{
        text-align :center;
    }
.containerun {
    background: $backroundmenu1;
    margin-left: 230px;
    padding-bottom: 50px;
    width: 1050px;
    height: 1100px;
    margin-bottom: 150px;

    .title {
        display: flex;
        justify-content: center;
        justify-content: space-between;
        justify-content: space-around;

        h2 {
            font-family: 'Short Stack', cursive;
            color: rgb(73,32,38);

            &:after {
                content: '';
                display: block;
                height: 3px;
                width: 0;
                background: rgb(73,32,38);
                transition: width .7s ease, background-color .5s ease;
            }

            &:hover:after {
                width: 100%;
            }
        }
    }

    .hautDePage {
        text-align: center;
        font-family: 'Zhi Mang Xing', cursive;
        color: rgb(73,32,38);
        font-size: 1.5em;
        font-weight: 100;
    }



    .choix {
        display: flex;
        justify-content: space-between;
        padding-left: 60px;
        padding-right: 68px;
    }

    .dessrt {
        text-align: left;
        padding-left: 45px;
    }

    .piedDeContainer {
        margin: 50px;
        text-align: center;
    }

    p {
        font-family: 'Short Stack', cursive;
        font-style: italic;
        font-size: 14px;
    }
}

.containerdeux {
    @extend .containerun;
    background: $backroundmenu2;
    padding-top: 90px;
    font-family: 'Bad Script', cursive;
    font-style: normal;

    h1 {
        margin: 50px;
        font-size: 2em;
        background: $colormenudeuxh2;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: lighter;
    }


    h2 {
        margin-left: 15px;
        margin-right: 15px;
        padding: 0px;
        white-space: nowrap;
        font-family: 'Oleo Script', cursive;
        font-style: normal;
    }

    .entree {
        img {
            margin: 5px;
        }

        margin: 55px;
        color: rgb(198,115,18);

        h2 {
            color: rgb(198,115,18);

            &:after {
                background: rgb(198,115,18);
            }
        }
    }

    .plat {
        color: rgb(166,105,154);
        margin: 55px;

        h2 {
            color: rgb(166,105,154);

            &:after {
                background: rgb(166,105,154);
            }
        }
    }

    .dessert {
        color: rgb(110,76,204);
        margin: 55px;

        h2 {
            color: rgb(110,76,204);

            &:after {
                background: rgb(110,76,204);
            }
        }
    }

    .choix {
    }

    p {
        font-family: 'Bad Script', cursive;
        font-style: normal;
        padding: 10px;
    }

    .dessrt {
        padding-left: 70px;
    }
    // peut etre faudrais changer la police des p faudra trouver la bonne
}

.containertrois {
    @extend .containerun;
    background: $backroundmenu3;

    h1 {
        font-size: 4em;
        background: $colormenu3h2;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: 'Dancing Script', cursive;
        font-weight: lighter;
        padding: 70px;
        text-align: center;
    }

    .title h2 {
        font-family: 'Handlee', cursive; //'Bad Script', cursive;
        font-style: normal;
        color: black;
        font-weight: 500;
    }

    .entree h2 {
        &:after {
            background: rgb(2,40,221);
        }
    }

    .plat h2 {
        &:after {
            background: rgb(10,111,238);
        }
    }

    .dessert h2 {
        &:after {
            background: rgb(41,156,241);
        }
    }


    .choix {
        margin-left: 70px;
        margin-right: 90px;
    }

    p {
        font-family: 'Handlee', cursive;
        font-size: 1.5em;
        padding: 0px;
        margin-bottom: 5px;
    }
}

.containerquatre {
    @extend .containertrois;
    background: $backroundmenu4;

    h1 {
        font-family: 'Kaushan Script', cursive;
        font-size: 5em;
        background: $colortitres4h2;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: lighter;
    }

    .title h2 {

        &:after {
            background: rgb(145,219,106);
        }
    }
}
@media (min-width: 768px) and (max-width: 1024px) {

   #prochainement{
       margin-left:15%;
   }
    .containerun {
        margin: 10px;
        width: auto;
        height: 1080px;
        margin-bottom: 150px;
    }

    .containertrois {
        height: 1200px;
    }

    .containerquatre {
        width: auto;
        height: 1200px;
        margin-bottom: 150px;
        margin-right: 0px;

        .title {
            display: flex;
            justify-content: center;

            h2 {
                white-space: nowrap;
            }

            img {
                width: 35%;
                height: 60%;
                margin: 10px;
            }
        }

        .entree {
            .title {
                img {
                    width: 40%;
                    height: 60%;
                    margin: 10px;
                }
            }
        }
    }

}
@media (min-width: 481px) and (max-width: 767px) {

    #prochainement {
        width: 260px;
        height: 70px;
        margin: 20%;
        margin-top:20px;
       
        h4{
            align-content:center;
            padding-bottom:30px;
            
        }
    }
    @-webkit-keyframes shake {
        from {
            -webkit-transform: rotate(10deg);
        }

        to {
            -webkit-transform: rotate(-10deg);
            -webkit-transform-origin: left left;
        }
    }
    footer {
        h3 {
            font-size: 20px;
            -webkit-animation: shake .1s ease-in-out .5s infinite alternate
        }
    }
    .containerun {
        width: 100%;
        height: auto;
        margin: 0px;
        margin-bottom: 50px;

        .title {
            display: flex;
            justify-content: center;

            h2 {
                font-size: 14px;
                text-align: center;
                    
            }

            img {
                width: 40%;
                height: 40%;
            }
        }



        .hautDePage {
            width: auto;
            font-size: 1em;
            font-weight: 100;

            img {
                margin-top: 15px;
                width: 50px;
                height: 50px;
            }
        }

        .choix {
            width: auto;
            height: auto;
            padding-left: 6px;
            padding-right: 6px;
        }

        .entree {
            .title {
                img {
                    width: 43%;
                    height: 40%;
                }
            }
        }


        .dessrt {
            text-align: left;
            padding-left: 15px;
        }

        .piedDeContainer {
            margin: 5px;
            width: auto;
        }
    }
    .containertrois {
        margin: 0px;
        margin-bottom: 50px;

        h1 {
            font-size: 45px;
            margin: 5px;
        }

        .title {
            height: 40px;

            h2 {
                font-size: 17px;
                font-weight: bold;
                margin-top: 0px;
            }

            img {
                padding: 0;
                margin: 0px;
            }
        }

        .entree {
            .title {
                img {
                    width: 35%;
                }
            }
        }

        .choix {
            margin-left: 6px;
            margin-right: 16px;

            p {
                font-size: 1em;
                padding: 10px;
                font-weight: 500;
            }
        }
    }
    .containerquatre {
        height: auto;
        

        .entree {
            .title {
                margin-top: 10px;

                img {
                    width: 43%;
                    margin: 0px;
                }
            }
        }

    }
}
