body {
  margin: 0px;
  margin-top: 0px;
  width: auto;
  height: auto;
}

header {
  background: #569c87;
  height: 100px;
  padding: 10px;
  width: 100%;
}
header h1 {
  color: #FCCA46;
  font-size: 4em;
  text-align: center;
  margin: 10px;
  font-family: sans-serif;
  font-weight: bold;
  letter-spacing: -1px;
}

#menus {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  justify-content: center;
}
#menus .menu {
  height: 600px;
  width: 500px;
  margin: 20px;
  box-shadow: 1px 1px 2px #000;
  text-align: center;
  padding-top: 180px;
  padding-bottom: 20px;
}
#menus .menu a, #menus .menu a:hover, #menus .menu a:visited, #menus .menu a:active {
  text-decoration: none;
  color: inherit;
}
#menus .zoom {
  opacity: 0.5;
}
#menus .zoom:hover {
  transform: scale(1.3);
  z-index: 2;
  opacity: 1;
}
#menus #menuun {
  background-color: #fcdfdb;
  font-size: 30px;
}
#menus #menuun .note {
  text-align: center;
  margin-top: 80px;
  height: 90px;
}
#menus #menuun h2 {
  margin-top: 0px;
  font-family: "Zhi Mang Xing", cursive;
  color: #492026;
}
#menus #menuun h3 {
  font-family: "Short Stack", cursive;
  font-size: 40px;
}
#menus #menudeux {
  background-color: #fff5fe;
}
#menus #menudeux h2 {
  margin-top: 130px;
  font-family: "Oleo Script", cursive;
  font-size: 3em;
  background: linear-gradient(to right, #c0741c, #0906f5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: lighter;
}
#menus #menudeux h3 {
  font-family: "PT Serif", serif;
  font-size: 50px;
  font-weight: bold;
  color: #c77412;
}
#menus #menutrois {
  background-color: #edefef;
}
#menus #menutrois h2 {
  font-size: 3em;
  background: linear-gradient(to right, #0431DF, #0887FB);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Dancing Script", cursive;
  font-weight: lighter;
}
#menus #menutrois h3 {
  font-family: "Bad Script", cursive;
  font-size: 3em;
  font-weight: bold;
  color: #0887FB;
}
#menus #menuquatre {
  background-color: #fdfffd;
}
#menus #menuquatre h2 {
  font-family: "Kaushan Script", cursive;
  font-size: 3em;
  background: linear-gradient(to right, #45993E, #dafcb0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: lighter;
}
#menus #menuquatre h3 {
  font-family: "Bad Script", cursive;
  font-size: 3em;
  font-weight: bold;
  color: #72bf56;
}

#prochainement {
  width: 350px;
  height: 100px;
  margin: 10%;
  margin-left: 40%;
  border-radius: 8px;
  background: #569c87;
}
#prochainement h4 {
  color: #FCCA46;
  padding-left: 25%;
  padding-top: 10%;
  font-size: 20px;
}
#prochainement .dot {
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  margin-right: 3px;
  background: #FCCA46;
  animation: wave 1.3s linear infinite;
}
#prochainement .dot:nth-child(2) {
  animation-delay: -1.1s;
}
#prochainement .dot:nth-child(3) {
  animation-delay: -0.9s;
}

@keyframes wave {
  0%, 60%, 100% {
    transform: initial;
  }
  30% {
    transform: translateY(-15px);
  }
}
@-webkit-keyframes shake {
  from {
    -webkit-transform: rotate(15deg);
  }
  to {
    -webkit-transform: rotate(-15deg);
    -webkit-transform-origin: center center;
  }
}
footer {
  justify-content: space-between;
  background: #569c87;
  display: flex;
  height: 70px;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
}
footer h3 {
  color: #FCCA46;
  font-size: 30px;
  font-weight: lighter;
  margin-top: 15px;
  margin-right: 10px;
  -webkit-animation: shake 0.1s ease-in-out 0.5s infinite alternate;
}
footer a, footer a:hover, footer a:visited, footer a:active {
  text-decoration: none;
}

.menu {
  text-align: center;
}

.titre {
  text-align: center;
}

.containerun, .containertrois, .containerquatre, .containerdeux {
  background: #fcdfdb;
  margin: auto;
  padding-bottom: 50px;
  width: 70%;
  height: 1100px;
  margin-bottom: 150px;
}
.containerun .title, .containertrois .title, .containerquatre .title, .containerdeux .title {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  justify-content: space-around;
}
.containerun .title h2, .containertrois .title h2, .containerquatre .title h2, .containerdeux .title h2 {
  font-family: "Short Stack", cursive;
  color: #492026;
}
.containerun .title h2:after, .containertrois .title h2:after, .containerquatre .title h2:after, .containerdeux .title h2:after {
  content: "";
  display: block;
  height: 3px;
  width: 0;
  background: #492026;
  transition: width 0.7s ease, background-color 0.5s ease;
}
.containerun .title h2:hover:after, .containertrois .title h2:hover:after, .containerquatre .title h2:hover:after, .containerdeux .title h2:hover:after {
  width: 100%;
}
.containerun .hautDePage, .containertrois .hautDePage, .containerquatre .hautDePage, .containerdeux .hautDePage {
  text-align: center;
  font-family: "Zhi Mang Xing", cursive;
  color: #492026;
  font-size: 1.5em;
  font-weight: 100;
}
.containerun .choix, .containertrois .choix, .containerquatre .choix, .containerdeux .choix {
  display: flex;
  justify-content: space-between;
  padding-left: 60px;
  padding-right: 68px;
}
.containerun .dessrt, .containertrois .dessrt, .containerquatre .dessrt, .containerdeux .dessrt {
  text-align: left;
  padding-left: 45px;
}
.containerun .piedDeContainer, .containertrois .piedDeContainer, .containerquatre .piedDeContainer, .containerdeux .piedDeContainer {
  margin: 50px;
  text-align: center;
}
.containerun p, .containertrois p, .containerquatre p, .containerdeux p {
  font-family: "Short Stack", cursive;
  font-style: italic;
  font-size: 14px;
}

.containerdeux {
  background: #fff5fe;
  padding-top: 90px;
  font-family: "Bad Script", cursive;
  font-style: normal;
}
.containerdeux h1 {
  margin: 50px;
  font-size: 2em;
  background: linear-gradient(to right, #c0741c, #0906f5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: lighter;
}
.containerdeux h2 {
  margin-left: 15px;
  margin-right: 15px;
  padding: 0px;
  white-space: nowrap;
  font-family: "Oleo Script", cursive;
  font-style: normal;
}
.containerdeux .entree {
  margin: 55px;
  color: #c67312;
}
.containerdeux .entree img {
  margin: 5px;
}
.containerdeux .entree h2 {
  color: #c67312;
}
.containerdeux .entree h2:after {
  background: #c67312;
}
.containerdeux .plat {
  color: #a6699a;
  margin: 55px;
}
.containerdeux .plat h2 {
  color: #a6699a;
}
.containerdeux .plat h2:after {
  background: #a6699a;
}
.containerdeux .dessert {
  color: #6e4ccc;
  margin: 55px;
}
.containerdeux .dessert h2 {
  color: #6e4ccc;
}
.containerdeux .dessert h2:after {
  background: #6e4ccc;
}
.containerdeux p {
  font-family: "Bad Script", cursive;
  font-style: normal;
  padding: 10px;
}
.containerdeux .dessrt {
  padding-left: 70px;
}

.containertrois, .containerquatre {
  background: #edefef;
}
.containertrois h1, .containerquatre h1 {
  font-size: 4em;
  background: linear-gradient(to right, #0431DF, #0887FB);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Dancing Script", cursive;
  font-weight: lighter;
  padding: 70px;
  text-align: center;
}
.containertrois .title h2, .containerquatre .title h2 {
  font-family: "Handlee", cursive;
  font-style: normal;
  color: black;
  font-weight: 500;
}
.containertrois .entree h2:after, .containerquatre .entree h2:after {
  background: #0228dd;
}
.containertrois .plat h2:after, .containerquatre .plat h2:after {
  background: #0a6fee;
}
.containertrois .dessert h2:after, .containerquatre .dessert h2:after {
  background: #299cf1;
}
.containertrois .choix, .containerquatre .choix {
  margin-left: 70px;
  margin-right: 90px;
}
.containertrois p, .containerquatre p {
  font-family: "Handlee", cursive;
  font-size: 1.5em;
  padding: 0px;
  margin-bottom: 5px;
}

.containerquatre {
  background: #fdfffd;
}
.containerquatre h1 {
  font-family: "Kaushan Script", cursive;
  font-size: 5em;
  background: linear-gradient(to right, #45993E, #dafcb0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: lighter;
}
.containerquatre .title h2:after {
  background: #91db6a;
}

@media screen and (max-width: 899px) {
  #prochainement {
    margin: auto;
    margin-bottom: 100px;
  }

  header {
    width: 100%;
  }

  .containerun, .containerdeux, .containertrois, .containerquatre {
    width: 100%;
    height: 1200px;
  }
  .containerun .title img, .containerdeux .title img, .containertrois .title img, .containerquatre .title img {
    width: 50%;
    height: 40%;
  }
  .containerun .title img.droit, .containerdeux .title img.droit, .containertrois .title img.droit, .containerquatre .title img.droit {
    margin-top: 15px;
  }
  .containerun .title h2, .containerdeux .title h2, .containertrois .title h2, .containerquatre .title h2 {
    text-align: center;
    margin-top: 5px;
  }

  .containerdeux {
    margin: auto;
  }
  .containerdeux .title img {
    width: 35%;
    height: 40%;
  }
  .containerdeux .entree .title img {
    width: 30%;
    height: 40%;
  }

  .containertrois .title img, .containerquatre .title img {
    width: 35%;
    height: 40%;
  }
}

/*# sourceMappingURL=style.css.map */
